.side-bar{
    width: 22%;
    padding: 20px;
    position: fixed;
}
/* #383838 */
.side-bar-container{
    background-color: #1e1e1f;
    height: 92vh;
    border-radius: 20px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    border: solid 1.5px #383838;
}
.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.avatar-img-divider{
    background-color: #383838;
    width: 150px;
    border-radius: 30px;
    margin-top:20px ;
}
.avatar-img{
    width: 100%;
}

.my-name{
    color: #fafafa;
    margin-top: 40px;
}

.my-title{
    color: #fafafa;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    background-color: #2b2b2c;
    padding: 6px 15px;
    border-radius: 8px;
}

.sidebar-divider{
    width: 90%;
    height: 1px;
    background-color: #2b2b2c;
    margin: 20px 0;
    
}

.contact-info{
    height: 200px;
}

.social-info{
    padding-bottom: 15px;
    display: flex;
    gap: 10px;
}
.buttom-social-icon{
    width: 30px;
}